.default {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  border: 0.1rem solid transparent;
  padding: 0.5rem 2.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: var(--primary);
  color: var(--black);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-size-adjust: 1.4;
  font-family: "Helvetica 500";
  border: 0.1rem solid transparent;
  padding: 0.65rem 2.8rem;
  padding-top: 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: var(--black);
}

.cancel {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  border: 0.1rem solid transparent;
  padding: 0.5rem 2.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: var(--primary-light);
  color: var(--black);
}

.default:hover,
.login:hover,
.cancel:hover {
  cursor: pointer;
}
