.loaderContainer {
  --scale: 22;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5rem dotted #dedede;
  width: calc(var(--scale) * 1rem);
  height: calc(var(--scale) * 1rem);
  border-radius: calc(var(--scale) * 1rem);
}

[data-animation="default"] {
  width: 80%;
  height: 80%;
  animation: defaultanimation 1.5s ease-in-out infinite;
}

@keyframes defaultanimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[data-animation="bounce"] {
  width: 80%;
  height: 80%;
  animation: bounceAnimation 2s ease-in-out infinite;
}

@keyframes bounceAnimation {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
