.container {
  width: 48%;
  text-align: left;
}

.containerLogo {
  margin-top: 0rem;
}

.containerLogo img {
  width: 6rem;
}

.containerHeading {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.containerHeading h3 {
  font-size: 3.2rem;
  font-family: "Helvetica 300";
}

.containerHeading p {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  font-family: "Helvetica 400";
}

.containerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.containerDivider {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.containerDivider hr {
  border: 0.1rem solid #707070;
}

.forgotpassword {
  text-decoration: underline;
  color: var(--black);
  font-size: 1.4rem;
}

.forgotpassword:hover {
  text-decoration: underline;
  cursor: pointer;
}
.inputStyleClass {
  border: 1px solid #D1D1D1;
}
