//artifacts-west.pwc.com/artifactory/api/npm/g00020-pwc-gx-digital-appkit-npm/:_auth = anRwcjE3MzpBS0NwQnNkWWs1ODJiMVA2NGdSSkJmR1E3ZllKR1duQlNiajZGVllXa1ZMWGhVQlBnejNDOVBVWFF0N0ZpM1I0RVFUQ2hDbTdR
always-auth = true
email = jithesh.kx.tpr@pwc.com