.microsoftLoginButton {
  width: 100%;
  height: auto;
  background-color: rgb(255, 241, 162);
  border: 0.2rem solid rgb(248, 248, 107);
  color: #171717;
  display: inline-block;
  font-family: "Helvetica 400";
  text-align: center;
  border: 1px solid transparent;
  padding: 0.8rem 2.5rem;
  padding-top: 1rem;
  font-size: 1.3rem;
  border-radius: 0.8rem;
}

.microsoftLoginButton:hover {
  cursor: pointer;
}
