.formGroup {
  margin: 1rem 0 0.5rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
}

/* Input style */
.formControl {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  height: 3.6rem;
  font-size: 1.3rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 0.7rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Focus styles */
.formControl:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Disabled styles */
.formControl:disabled {
  background-color: #dedede;
  cursor: not-allowed;
}

/* Disabled focus styles (optional) */
.formControl:disabled:focus {
  outline: none;
  box-shadow: none;
}
