.container {
  background-color: #f3f3f3;
  margin-bottom: 0.8rem;
  border-radius: 0.25rem;
}

.header {
  width: 34rem;
  height: 3.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header > div:nth-child(1) {
  font-size: 1.4rem;
  font-family: "helvetica 400";
}
.header:hover {
  cursor: pointer;
}

.arrow {
  width: 1.4rem;
  font-size: 3rem;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  margin-bottom: 1rem;
}

.show {
  transform: rotate(180deg);
}
.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input textarea {
  background-color: var(--innerbackground);
  margin: 0 1rem;
  outline: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 10rem;
  resize: none;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  margin-top: 1rem;
}

.quill {
  width: 30rem !important;
  background-color: var(--innerbackground);
  margin: 0 1rem;
}

.quill > div {
  border: none !important;
}

.quill .ck.ck-button.ck-on {
  background-color: var(--primary) !important;
}

.quill > div:nth-child(2) {
  height: 10rem !important;
  font-size: 1.4rem !important;
  padding-top: 0.4rem;
}
