.nodeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.node {
  background-color: var(--innerbackground);
  display: inline-block;
  border-radius: 0.2rem;
  font-size: 1.3rem;
  font-family: "helvetica 500";
}
.correct {
  background-color: #4ead58;
  display: inline-block;
  border-radius: 0.2rem;
  color: var(--innerbackground);
  font-size: 1.3rem;
  font-family: "helvetica 500";
  border: 0.2rem solid var(--primary);
}
.selected {
  background-color: var(--primary);
  display: inline-block;
  border-radius: 0.2rem;
  color: var(--innerbackground);
  font-size: 1.3rem;
  font-family: "helvetica 500";
}
.isOptimalNode {
  background-color: #4ead58;
  display: inline-block;
  border-radius: 0.2rem;
  color: var(--innerbackground);
  font-size: 1.3rem;
  font-family: "helvetica 500";
}
.isNotOptimalNode {
  background-color: #7d7d7d;
  display: inline-block;
  border-radius: 0.2rem;
  font-family: var(--innerbackground);
  font-size: 1.3rem;
  color: "helvetica 500";
}

.isOptimal {
  stroke: #4ead58 !important;
  stroke-width: 2 !important;
}

.isNotSelected {
  stroke: #545454 !important;
  stroke-width: 2 !important;
}

.selectedEdge {
  stroke: var(--primary) !important;
  stroke-width: 2 !important;
}

.tooltipContent > div:nth-child(1) {
  font-size: 1rem;
  color: var(--innerbackground);
  font-family: "helvetica 500";
}
.tooltipContent > div:nth-child(2) {
  font-size: 1rem;
  color: var(--innerbackground);
  font-family: "helvetica 400";
}
