.formContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.formLeft {
  flex: 0 0 0.6rem;
  background-color: var(--primary);
}

.formRight {
  flex: 1;
  height: 100%;
  width: 100%;
  background: #474747 0% 0% no-repeat padding-box;
  background-image: url("./images/particles.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 2rem 1.5rem;
}

