.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
}
.layoutContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.leftContainer {
  position: relative;
  /* width: 6rem; */
  width: 4%;
  transition: width 0.4s ease;
}
.rightContainer {
  /* width: 96%; */
  width: 100%;
  height: 100%;
  transition: width 0.4s ease;
}
