.container {
  background-color: var(--innerbackground);
}

.header {
  width: 24rem;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header > div:nth-child(1) {
  font-size: 1.4rem;
  font-family: "helvetica 300";
}

.arrow {
  width: 1.4rem;
  font-size: 3rem;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "helvetica 300";
}
