.container {
  background-color: #f3f3f3;
  border-radius: 0.25rem;
}

.header {
  width: 34rem;

  height: 3.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header > div:nth-child(1) {
  font-size: 1.4rem;
  font-family: "helvetica 400";
}

.header:hover {
  cursor: pointer;
}

.arrow {
  width: 1.4rem;
  font-size: 3rem;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show {
  transform: rotate(180deg);
}

.mainContainer {
  overflow-y: auto;
  margin-bottom: 1rem;
  max-height: 18rem;
}
.item {
  width: 100%;
  margin: 1rem 0rem;
}

.item > div:nth-child(1) {
  font-size: 1.2rem;
  font-family: "helvetica 400";
  text-transform: capitalize;
  margin: 0 1rem;
}

.userContainer {
  background-color: var(--innerbackground);
  margin: 0 1rem;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
}

.userContainer hr {
  margin: 0.5rem 1rem;
}
.itemDetails {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
}

.itemDetails > div {
  font-size: 1.1rem;
  font-family: "helvetica 400";
  text-transform: capitalize;
}

.itemDetails > div:nth-child(1) {
  width: 2.4rem !important;
  flex: none !important;
  height: 2.4rem;
  border-radius: 2.4rem;
  background-color: #fecece;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.active {
  width: 1rem !important;
  flex: none !important;
  height: 1rem;
  border-radius: 1rem;
  background-color: var(--green);
}

.inactive {
  width: 1rem !important;
  flex: none !important;
  height: 1rem;
  border-radius: 1rem;
  background-color: #7d7d7d;
}

.itemDetails > div:nth-child(4) {
}
