.navbarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--innerbackground);
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  box-shadow: 0px 0.3rem 0.6rem #00000029;
  position: relative;
}
.pwcLogo {
  width: 4.2rem;
  padding-top: 0.3rem;
}

.pwcLogo img {
  width: 100%;
  height: 100%;
}
.label {
  font-size: 1.6rem;
  padding-left: 0.5rem;
  font-family: "helvetica 400";
}

.containerRight {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.role {
  font-size: 1.3rem;
  margin-right: 2.4rem;
  font-weight: 500;
  max-width: 12rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.profileIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 3.4rem;
  background-color: var(--primary);
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 800;
}

.profileIcon:hover {
  cursor: pointer;
}

.dropdownContainer {
  position: absolute;
  right: 1.5rem;
  top: 4.6rem;
  width: 24rem;
  border-radius: 0.4rem;
  background-color: var(--innerbackground);
  padding: 1rem;
  color: var(--black);
  z-index: 150;
}

.dropdownContainer hr {
  margin: 1rem 0;
}

.headRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.playerDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 4.2rem;
}

.playerDetails > div:nth-child(1) {
  font-size: 1.6rem;
  color: var(--primary);
  font-family: "helvetica 500";
}

.playerDetails > div:nth-child(2) {
  font-size: 1.1rem;
  font-family: "helvetica 300";
}

.profileIcon2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 4.2rem;
  background-color: var(--primary);
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 800;
}

.row {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem;
  font-family: "helvetica 400";
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  padding-left: 0.8rem;
}

.row:hover {
  background-color: var(--active);
  cursor: pointer;
}
