.searchInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.searchInputContainer > :first-child {
  flex: 9;
}

.searchInputContainer > :nth-child(2) {
  flex: 1;
}
.iconsContainer {
}
.xmarkIcon, 
.searchIcon {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}