.topContainer {
  flex: 2;
  width: 100%;
  height: 14rem;
  display: flex;
  flex-direction: row;
}
.left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}
.left label {
  font-size: 4rem;
  color: var(--label);
  font-weight: bold;
}
.right {
}
.inputLabel {
  font-size: 1.4rem;
  color: var(--input_label);
}
/* Main Container */
.dataContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: scaleY(-1);
  width: 100%;
  min-height: 75vh;
  max-height: 90vh;
}
.tabsContainer {
  display: flex;
  flex-direction: row;
}
.tabsContainer > div:nth-child(1) {
  flex: 2;
}
.tabsContainer > div:nth-child(2) {
  flex: 4;
  width: 100%;
  display: flex;
  align-items: end;
  height: 0.1rem;
  align-self: flex-end;
  background-color: gray;
}
/* .tabsContainer > div:nth-child(2) > hr {
  flex: 4;
  width: 100%;
  height: 0.1rem;
  border-color: gray
} */
.tabsContainer > div:nth-child(3) {
  flex: 4;
}
.tabs {
  display: flex;
  flex-direction: row;
}

/* Selected */
.selectedContainer,
.optimalContainer {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}
.selectedContainer > div:nth-child(1) {
  padding: 0.5rem;
  align-self: center;
}
.selectedContainer > div:nth-child(2) {
  height: 0.2rem;
  background-color: var(--input_label);
}

/* Optimal */
.optimalContainer > div:nth-child(1) {
  padding: 0.5rem;
  align-self: center;
}
.optimalContainer > div:nth-child(2) {
  height: 0.2rem;
  background-color: var(--input_label);
}
.optimalContainer,
.selectedContainer > div:first-child {
  font-size: 1.4rem;
  font-family: "Helvetica 500";
  color: var(--input_label);
}
.optimalContainer > div:first-child > label,
.selectedContainer > div:first-child > label{
  cursor: pointer;
}
/* Tree Data Container */
.treeDataContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.treeLeft {
  flex: 7;
  padding: 1rem;
}
.treeLeft > div:nth-child(1) {
  width: 100%;
  height: 40rem;
}
.treeLeft > div:nth-child(1) svg {
  width: 100% !important;
  height: 100% !important;
}
.verticalLine {
  height: 100%;
  width: 0.1rem;
  background-color: gray;
}
.treeRight {
  flex: 3;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  overflow-y: auto;
}
.treeRightContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
}
.treeRightTop {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0rem 3rem;
}
.treeRightTop div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.treeRightTop > div > div:first-child {
  flex: 5;
  font-size: 1.4rem;
  font-family: "Helvetica 500";
  color: var(--primary);
}
.treeRightTop > div > div:nth-child(2) {
  flex: 5;
  font-size: 1.4rem;
  font-family: "Helvetica 300";
  color: var(--input_label);
}
.treeRightBottom {
  padding: 0rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: fit-content;

}
.treeRightBottom > div:first-child {
  font-size: 1.4rem;
  font-family: "Helvetica 500";
  color: var(--primary);
}

/* Player Details table */
.playerDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 15rem;
}
.playerDetails,
.playerDetails  div {
    width: 100%;
}
.playerDetails > .head:first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.playerDetails > .head:first-child  div{
    font-size: 1.2rem;
    font-family: "Helvetica 300";
    color: var(--primary);
    flex: 5;
}
.playerDetails > .body:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: auto;
    overflow-x: hidden;
    height: 100%;
}
.playerDetails > .body:nth-child(2) .row{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.playerDetails > .body:nth-child(2) .row div{
    font-size: 1.2rem;
    font-family: "Helvetica 300";
    color: var(--input_label);
    flex: 5;
}

/* Button contaienr */
.buttonContainer {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: end;
  margin-top: 1rem;
}
