.formGroup {
  margin: 0;
  /* margin: 1rem 0 0.5rem; */
}

.formGroup > label {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.35rem;
  /* font-family: "Helvetica 500"; */
}

/* Input style */
/* .formControl {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  height: 3.6rem;
  font-size: 1.3rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 0.7rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */

/* .formControl::placeholder {
  color: #b0b0b0;
}

.formControl:focus {
  outline: none;
  border: 1px solid var(--primary);
  box-shadow: 0 0 0 0.2rem var(--primary-light);
}

.formControl:disabled {
  background-color: #dedede;
  cursor: not-allowed;
}

.formControl:disabled:focus {
  outline: none;
  box-shadow: none;
} */
.input {
  font-size: 1.3rem;
  /* font-family: "Helvetica 400"; */
}
/* .input > div:first-child > div:nth-child(1),
.input > div:first-child > div:nth-child(2) {
  background-color: var(--innerbackground);
} */

.input > div:first-child > div:nth-child(2) {
  background-color: var(--innerbackground);
}
.input label {
  /* font-family: "Helvetica 400"; */
}

.input > div:first-child > div:nth-child(2) {
  /* height: 3.5rem; */
  height: 4rem;
}
.input > div:first-child > div:nth-child(2) {
  /* background-color: var(--innerbackground); */
}
/* .input > div:first-child > div:nth-child(2) > input{
  padding-top: 1rem;
}
 */
.input > div:first-child > div:nth-child(1) {
  line-height: 1.2rem !important;
}
.defaultTextAreaStyles {
  height: 15rem;
}
.defaultTextAreaStyles textarea {
  height: inherit !important;
}
.defaultTextAreaStyles {
  font-size: 1.3rem;
}
.defaultTextAreaStyles > div:first-child {
  height: 15rem !important;
  margin-top: 1rem;
}
.defaultTextAreaStyles > div:first-child > div:nth-child(2) {
  /* background: var(--background-color); */
  background-color: var(--innerbackground);
  
}
.defaultTextAreaStyles > div:first-child > div:nth-child(2) > textarea{
  padding-top: 0.5rem !important;

}
.defaultTextAreaStyles > div:first-child > div:nth-child(1) {
  line-height: 1.2rem !important;
}

/* .ap-field.has-length .ap-field-title-container,
.ap-field:not(.disabled):not(.readonly):not(.text-readonly):focus-within
  .ap-field-title-container,
.ap-field:not(.readonly) .ap-field-container.open .ap-field-title-container,
.ap-field:not(.readonly) .ap-field-container.show .ap-field-title-container {
  line-height: 1rem;

} */
