.Toastify__toast-container {
  z-index: 10000 !important;
}
.Toastify__toast-body {
  font-size: 1.5rem;
}

.Toastify__toast--success {
  background-color: #ffffff !important;
}

.Toastify__toast-progress-bar--success {
  background-color: var(--primary) !important;
}

.Toastify__close-button > svg {
  color: var(--black);
}

.Toastify__progress-bar--success {
  background-color: var(--primary) !important;
}

.Toastify__progress-bar--error {
  background-color: var(--red) !important;
}

.notification > button > svg {
  display: none !important;
}

/* =============== select dropdown ============= */
.select_label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  color: var(--input_label);
}
.select_input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  height: 3.6rem;
  font-size: 1.3rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 0.7rem;
}

.select_input:disabled {
  appearance: none;
  cursor: not-allowed;
}

.select_input:disabled:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
}

/************************** Custom Scroll Bar  *************************/
::-webkit-scrollbar {
  height: 0.8rem;
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background-color);
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 1rem;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: var(--primary-light);
} */

/* ================ modal ================= */

.modal_content {
  width: 40rem;
  background-color: var(--innerbackground);
  /* box-shadow: 0px 0.8rem 1.6rem #d1d1d1; */
  border-radius: 0.8rem;
  opacity: 1;
  padding: 2rem;
  z-index: 1000;
}
.modal_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 500;
  height: 4rem;
}

.modal_crossIcon {
  max-width: 2.7rem;
  max-height: auto;
}
.modal_crossIcon:hover {
  cursor: pointer;
}

.modal_description {
  margin-top: 1rem;
  font-size: 1.3rem;
}
.modal_buttonContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

/* ================ small count down=============== */
.svgPieTimer {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
}
.svg-loader {
  fill: var(--primary);
}

.svg-border {
  fill: var(--primary);
}

/* ================= loaders ===================  */

.loader-wrapper {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .ap-option-left {
  display: flex;
  align-items: baseline !important;
  overflow: hidden;
  text-overflow: ellipsis;
} */

#errormessage {
  font-size: 1.1rem;
  color: #ff6464;
  font-family: 'Helvetica 400';
}