.Toastify__toast-body {
  font-size: 1.5rem;
}

.Toastify__toast--success {
  background-color: #ffffff !important;
}

.Toastify__toast-progress-bar--success {
  background-color: var(--primary) !important;
}

.Toastify__close-button > svg {
  color: var(--black);
}

.Toastify__progress-bar--success {
  background-color: var(--primary) !important;
}

.Toastify__progress-bar--error {
  background-color: var(--red) !important;
}

/* =============== select dropdown ============= */
.select_label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  color: var(--input_label);
}
.select_input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  height: 3.6rem;
  font-size: 1.3rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 0.7rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/************************** Custom Scroll Bar  *************************/
::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background-color);
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-light);
}

/* ================ modal ================= */

.modal_content {
  width: 40rem;
  background-color: var(--innerbackground);
  box-shadow: 0px 0.8rem 1.6rem #d1d1d1;
  border-radius: 0.8rem;
  opacity: 1;
  padding: 2rem;
  z-index: 1000;
}
.modal_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 500;
}

.modal_crossIcon {
  width: 2rem;
  height: 2rem;
}
.modal_crossIcon:hover {
  cursor: pointer;
}
.modal_description {
  margin-top: 1rem;
  font-size: 1.3rem;
}
.modal_buttonContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
