:root {
  --primary: #ffd15d;
  --primary-light: #fff4d8;
  --black: #171717;
  --background-color: #f2f2f2;
  --innerbackground: #ffffff;
  --red: red;
  --toastify-icon-color-success: #ffd15d;
  --label: #415385;
}

*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Helvetica Neue", "Poppins", sans-serif;
}

/* @font-face {
  font-family: "Helvetica Neue medium";
  src: local("Helvetica Neue"),
    url("./assets/fonts/HelveticaNeueLTProMd.otf") format("opentype");
} */
