.container {
  border-radius: 0.6rem;
  overflow: hidden;
  background-color: transparent;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  border: 0.2rem dotted var(--primary);
  width: 40rem;
  height: 10rem;
  margin-top: 1rem;
}
.label {
  color: var(--input_label);
  font-size: 1.3rem;
}
.hint {
  color: var(--input_label);
  font-size: 1.1rem;
  margin-top: 1rem;
}
.container p {
  color: var(--input_label);
}

.container label {
  color: var(--primary);
  text-decoration: underline;
}
